<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Climb Life</title>
  </head>
  <body>
    <h1>The Climb Life</h1>
    <div>
      <a href="{%url 'new' count %}">write problem</a>
    </div>
    <div>
      <p>{{count}}</p>
    </div>
    <div class="container">
      {% for blog in blogs%}
      <div>
        <h3>{{blog.title}}</h3>
        {{blog.writer}} {{blog.summary}}
        <a href="{%url 'detail' blog.id blog.title %}">...more</a><br />
      </div>
      {% endfor %}
    </div>
  </body>
</html>
